button.toolbar,
input[type="checkbox"].button.toolbar+label,
input[type="radio"].button.toolbar+label,
input[type="file"].button.toolbar+label {
  display: inline-block;
  min-width: 48px;
  border-radius: 0;
  background: transparent;
  border: none;
  height: 100%;
  box-shadow: none;
  transition: none;
  transform: scale(1);
  padding: var(--vertical-gap) var(--horizontal-gap);
  margin: 0;

  &:hover {
    background-color: var(--control-hover-background);
    color: var(--control-hover-foreground);
    transform: scale(1);
  }

  &:active {
    background-color: var(--control-active-background);
    color: var(--control-active-foreground);
    transform: scale(1);
  }

  &:disabled {
    background-color: var(--control-disabled-background);
    color: var(--control-disabled-foreground);
    transform: scale(1);
  }

  &.highlight {
    background-color: var(--control-background);
    color: var(--control-foreground);
  }
}

.caption {

  button.toolbar,
  input[type="checkbox"].button.toolbar+label,
  input[type="radio"].button.toolbar+label,
  input[type="file"].button.toolbar+label {
    color: var(--caption-foreground);
    min-width: 2rem;
    padding: var(--vertical-gap) var(--horizontal-gap);

    &:hover {
      background-color: var(--control-background);
      color: var(--control-hover-foreground);
    }
  }
}

input[type="checkbox"].button.toolbar,
input[type="radio"].button.toolbar {
  appearance: none;
  display: none;
  margin: 0;
  padding: 0;

  &+label {
    padding: var(--vertical-gap) var(--horizontal-gap);
    margin: 0;
  }
}

input[type="checkbox"].button.toolbar:checked+label,
input[type="radio"].button.toolbar:checked+label {
  background-color: var(--control-active-background);
  color: var(--control-active-foreground);
  transform: scale(1);
}
