@font-face {
    font-family: BodyFont;
    font-style: normal;
    src: url("fonts/Grenze-Light.ttf");
    font-weight: normal;
}

@font-face {
    font-family: BodyFont;
    font-style: normal;
    src: url("fonts/Grenze-Medium.ttf");
    font-weight: bold;
}

@font-face {
    font-family: BodyFont;
    font-style: italic;
    src: url("fonts/Grenze-LightItalic.ttf");
    font-weight: normal;
}

@font-face {
    font-family: BodyFont;
    font-style: italic;
    src: url("fonts/Grenze-MediumItalic.ttf");
    font-weight: bold;
}
